@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Louis";
  src: url("/fonts/louis/Louis George Cafe.ttf");
}

.louis {
  font-family: "Louis";
}
